.menu{
    display: flex;
    li{
        height: 40px;
        line-height: 40px;
        color: #333;
        flex:1;
        text-align: center;
        a.active{
            color: #d43c33;
            position: relative;
            &::after{
                content: " ";
                position: absolute;
                left: -5px;
                right: -5px;
                bottom: -10px;
                height: 3px;
                background-color: #d43c33;
            }
        }
    }
}